body {
    background-size: auto;
    background-image: url("../img/grass-sky-field-wheat-grain-prairie-1416456-pxhere.com.jpg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: rgb(255, 255, 255);
}
