<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Über uns</title>
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/about.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/navbar.css">
    <script type="text/javascript">
        // Prevent dropdown menu from closing when click inside the form
        $(document).on("click", ".navbar-right .dropdown-menu", function (e) {
            e.stopPropagation();
        });
    </script>
</head>

<body>
    <nav class="navbar navbar-default navbar-expand-lg navbar-light">
        <div class="navbar-header d-flex col">
            <a class="navbar-brand" href="/tads">T<b>ads</b></a>
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse"
                class="navbar-toggle navbar-toggler ml-auto">
                <span class="navbar-toggler-icon"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!-- Collection of nav links, forms, and other content for toggling -->
        <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
            <ul class="nav navbar-nav">
                <li class="nav-item"><a href="/tads" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="/shop" class="nav-link">Shop</a></li>
                <li class="nav-item"><a href="/impressum" class="nav-link">Impressum</a></li>
                <li class="nav-item"><a href="/wir" class="nav-link">Über uns</a></li>
                <li class="nav-item"><a href="/contact" class="nav-link">Kontakt</a></li>
                <li class="nav-item"><a href="https://tads.at:2053/SOGo/" class="nav-link">Mail</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right ml-auto">
                <li class="nav-item">
                    <a data-toggle="dropdown" class="nav-link dropdown-toggle" href="#">Login</a>
                    <ul class="dropdown-menu form-wrapper">
                        <li>
                            <form action="{{ url_for('login') }}" method="post">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Username" required="required"
                                        name="username">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder="Password"
                                        required="required" name="password">
                                </div>
                                <input type="submit" class="btn btn-primary btn-block" value="Login">
                                <div class="form-footer">
                                    <a href="#">Forgot Your password?</a>
                                </div>
                            </form>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" data-toggle="dropdown"
                        class="btn btn-primary dropdown-toggle get-started-btn mt-1 mb-1">Registrieren</a>
                    <ul class="dropdown-menu form-wrapper">
                        <li>
                            <form action="{{ url_for('register') }}" method="post">
                                <p class="hint-text">Hier kannst du dein Account erstellen.</p>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Vorname" required="required"
                                        id="vname" name="vname">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Nachname" required="required"
                                        id="nname" name="nname">
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="E-Mail" required="required"
                                        id="email" name="email">
                                </div>
                                <div class="form-group">
                                    <input type="tel" class="form-control" placeholder="Telefonnummer"
                                        required="required" id="tel" name="tel">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder="Password"
                                        required="required" id="psw" name="psw">
                                </div>
                                <!-- <div class="form-group">
                                    <label class="checkbox-inline"><input type="checkbox" required="required"> Ich
                                        aktzeptire <a href="#">Geschäftsbedigung &amp; Conditions</a></label>
                                </div> -->
                                <input type="submit" class="btn btn-primary btn-block" value="Sign up">
                            </form>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <div id="content">
        <h2>Über Uns</h2>
        <div id="text">
            <h3>Wer sind wir?</h3>
            <img src="/static/img/about/Gruppenfoto.png">
            <p>Wir,<br> das sind (von Links) Jonas Mohr, Stefan Biermann, Torge Petersen, Lennard Engel und Lennard
                Sepcke, sind ein junges und ambitionniertes Unternehmen, welches Ihren Alltag erleichtern möchte.<br>
                Mit Produkten aus dem Landwirtschaftlichen Bereich und großen Partnern wie DJI, Phillips und Bosch wollen wir Ihr Leben vereinfachen.<br>
                <br><b>Lennard Engel ( CEO )</b>
                <br><b>Jonas Mohr (CTO)</b>
                <br><b>Lennard Sepcke (CKO)</b>
                <br><b>Stefan Biermann (CIO)</b>
                <br><b>Torge Petersen (CMO)</b>
            </p>
            <p></p>
            <br>
            <h3><b>Unser Motto: Tads mehr ist mehr</b></h3>
            <br>
            <h3>Unsere Leistungen</h3>
            <p>Wir sind Terra Analytic Drone Systems.
                Lassen wir es lieber kurz: TADS.
                Wir stehen für weit entwickelte und vielfach optimierte landwirtschaftliche Drohnen die sich auf dem
                neuesten technologischen Stand befinden.
                Effiziente Analysesysteme zu Land und in der Luft.
                Sichere, zuverlässige und intuitive Übersicht der Drohnendaten..</p>
        </div>
    </div>
    <div class="container-fluid text-center bg-grey">
        <h2>Über uns</h2><br>
        <div class="row text-center">
            <div class="col-sm-4">
                <div class="thumbnail">
                    <img src="/static/img/about/Jonas.jpg" alt="Paris" width="400" height="300">
                    <p><strong>Jonas Mohr</strong></p>
                    <p>CTO</p>
                    <p>- Softwareentwickler</p>
                    <p>- 17 Jahre alt</p>
                    <p>- Gebürtiger Büdelsdorfer</p>
                    <p>- Das Leben ist ein Code mit vielen Bugs.</p>
                    <p></p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="thumbnail">
                    <img src="/static/img/about/Lennart.jpg" alt="New York" width="400" height="300">
                    <p><strong>Lennard Sepcke</strong></p>
                    <p>CKO</p>
                    <P>- Softwareentwickler</P>
                    <p>- 20 Jahre alt</p>
                    <p>- Gebürtiger Bremerhaven</p>
                    <p>- Ohne die IT läuft nichts</p>
                    <p></p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="thumbnail">
                    <img src="/static/img/about/Lennard.E.jpg" alt="San Francisco" width="400" height="300">
                    <p><strong>Lennard Engel</strong></p>
                    <p>CEO</p>
                    <p>Protokollführer</p>
                    <p>- 18 Jahre alt</p>
                    <p>- Gebürtiger Hesse</p>
                    <p>- It's works</p>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="thumbnail">
            <img src="/static/img/about/Torge.jpg" alt="San Francisco" width="400" height="300">
            <p><strong>Torge Petersen</strong></p>
            <p>CMO</p>
            <p>- 17 Jahre alt</p>
            <p>- Gebürtiger Pahler</p>
            <p>- Die Landwirtschaft powert mich an</p>
            <p></p>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="thumbnail">
            <img src="/static/img/about/Stefan.jpg" alt="San Francisco" width="400" height="300">
            <p><strong>Stefan Biermann</strong></p>
            <p>CIO</p>
            <p>- 24 Jahre alt</p>
            <p>- Gebürtiger Neumünsteraner</p>
            <p>- Ein Leben ohne IT ist ein Leben ohne Fortschritt</p>
            <p></p>
        </div>
    </div>
    </div>
    </div>
</body>

</html>