<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tads</title>
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/contact.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/navbar.css">
    <script type="text/javascript">
        // Prevent dropdown menu from closing when click inside the form
        $(document).on("click", ".navbar-right .dropdown-menu", function(e){
            e.stopPropagation();
        });
    </script>
</head>
<body>
<nav class="navbar navbar-default navbar-expand-lg navbar-light">
    <div class="navbar-header d-flex col">
        <a class="navbar-brand" href="/tads">T<b>ads</b></a>
        <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle navbar-toggler ml-auto">
            <span class="navbar-toggler-icon"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <!-- Collection of nav links, forms, and other content for toggling -->
    <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
        <ul class="nav navbar-nav">
            <li class="nav-item"><a href="/tads" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="/shop" class="nav-link">Shop</a></li>
            <li class="nav-item"><a href="/impressum" class="nav-link">Impressum</a></li>
            <li class="nav-item"><a href="/wir" class="nav-link">Über uns</a></li>
            <li class="nav-item active"><a href="/contact" class="nav-link">Kontakt</a></li>
            <li class="nav-item"><a href="https://tads.at:2053/SOGo/" class="nav-link">Mail</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right ml-auto">
            <li class="nav-item">
                <a data-toggle="dropdown" class="nav-link dropdown-toggle" href="#">Login</a>
                <ul class="dropdown-menu form-wrapper">
                    <li>
                        <form action="{{ url_for('login') }}" method="post">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Username" required="required"
                                    name="username">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Password"
                                    required="required" name="password">
                            </div>
                            <input type="submit" class="btn btn-primary btn-block" value="Login">
                            <div class="form-footer">
                                <a href="#">Forgot Your password?</a>
                            </div>
                        </form>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="#" data-toggle="dropdown"
                    class="btn btn-primary dropdown-toggle get-started-btn mt-1 mb-1">Registrieren</a>
                <ul class="dropdown-menu form-wrapper">
                    <li>
                        <form action="{{ url_for('register') }}" method="post">
                            <p class="hint-text">Hier kannst du dein Account erstellen.</p>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Vorname" required="required"
                                    id="vname" name="vname">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Nachname" required="required"
                                    id="nname" name="nname">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="E-Mail" required="required"
                                    id="email" name="email">
                            </div>
                            <div class="form-group">
                                <input type="tel" class="form-control" placeholder="Telefonnummer"
                                    required="required" id="tel" name="tel">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Password"
                                    required="required" id="psw" name="psw">
                            </div>
                            <!-- <div class="form-group">
                                <label class="checkbox-inline"><input type="checkbox" required="required"> Ich
                                    aktzeptire <a href="#">Geschäftsbedigung &amp; Conditions</a></label>
                            </div> -->
                            <input type="submit" class="btn btn-primary btn-block" value="Sign up">
                        </form>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
<div id="content">
    <h2>Kontakt</h2>
    <div id="content_inner">
        <h3>Tads GmbH<br>Christianstraße 94<br>24534 Neumünster</h3>
        <br>
        <h3>Geschäftsführer: Lennard Engel</h3>
        <br>
        <h3>Telefon: +(49) 04321 48728</h3>
        <h3>Mobil: +(49) 376 22046000</h3>
        <h3>Email: info@tads.at</h3>
        <br>
        <h3>Anfahrt:</h3>
        <br>
        <div id="google">
            <iframe id="iframe" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d769.0250520190682!2d9.9906253815518!3d54.080418709807155!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47b24bc3e5c39af7%3A0x1d538b22ca0aabba!2sChristianstra%C3%9Fe+94%2C+24534+Neum%C3%BCnster%2C+Deutschland!5e1!3m2!1sde!2sus!4v1557210241675!5m2!1sde!2sus" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
</div>
</body>
</html>