<!-- Import css,java datein -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tads</title>
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/impressum.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/navbar.css">
    <script type="text/javascript">
        // Prevent dropdown menu from closing when click inside the form
        $(document).on("click", ".navbar-right .dropdown-menu", function (e) {
            e.stopPropagation();
        });
    </script>
</head>

<body>
    <nav class="navbar navbar-default navbar-expand-lg navbar-light">
        <div class="navbar-header d-flex col">
            <a class="navbar-brand" href="/tads">T<b>ads</b></a>
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse"
                class="navbar-toggle navbar-toggler ml-auto">
                <span class="navbar-toggler-icon"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!-- Collection of nav links, forms, and other content for toggling -->
        <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
            <ul class="nav navbar-nav">
                <li class="nav-item"><a href="/tads" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="/shop" class="nav-link">Shop</a></li>
                <li class="nav-item active"><a href="/impressum" class="nav-link">Impressum</a></li>
                <li class="nav-item"><a href="/wir" class="nav-link">Über uns</a></li>
                <li class="nav-item"><a href="/contact" class="nav-link">Kontakt</a></li>
                <li class="nav-item"><a href="https://tads.at:2053/SOGo/" class="nav-link">Mail</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right ml-auto">
                <li class="nav-item">
                    <a data-toggle="dropdown" class="nav-link dropdown-toggle" href="#">Login</a>
                    <ul class="dropdown-menu form-wrapper">
                        <li>
                            <form action="{{ url_for('login') }}" method="post">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Username" required="required"
                                        name="username">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder="Password"
                                        required="required" name="password">
                                </div>
                                <input type="submit" class="btn btn-primary btn-block" value="Login">
                                <div class="form-footer">
                                    <a href="#">Forgot Your password?</a>
                                </div>
                            </form>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" data-toggle="dropdown"
                        class="btn btn-primary dropdown-toggle get-started-btn mt-1 mb-1">Registrieren</a>
                    <ul class="dropdown-menu form-wrapper">
                        <li>
                            <form action="{{ url_for('register') }}" method="post">
                                <p class="hint-text">Hier kannst du dein Account erstellen.</p>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Vorname" required="required"
                                        id="vname" name="vname">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Nachname" required="required"
                                        id="nname" name="nname">
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="E-Mail" required="required"
                                        id="email" name="email">
                                </div>
                                <div class="form-group">
                                    <input type="tel" class="form-control" placeholder="Telefonnummer"
                                        required="required" id="tel" name="tel">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder="Password"
                                        required="required" id="psw" name="psw">
                                </div>
                                <!-- <div class="form-group">
                                    <label class="checkbox-inline"><input type="checkbox" required="required"> Ich
                                        aktzeptire <a href="#">Geschäftsbedigung &amp; Conditions</a></label>
                                </div> -->
                                <input type="submit" class="btn btn-primary btn-block" value="Sign up">
                            </form>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <div id="content">
        <h2 id="header">Impressum</h2>
        <h2>Tads GmbH<br>Christianstraße 94<br>24534 Neumünster</h2>
        <br>
        <h2>Geschäftsführer: Lennard Engel</h2>
        <br>
        <h2>Urheberrecht</h2>
        <p>Alle Rechte vorbehalten. Alle Texte, Bilder, Grafiken, Ton-, Video- und Animationsdateien sowie ihre
            Arrangements unterliegen dem Urheberrecht und anderen Gesetzen zum Schutz geistigen Eigentums. Sie dürfen
            weder für Handelszwecke oder zur Weitergabe kopiert, noch verändert und auf anderen Web-Sites verwendet
            werden. Einige mobilcom-debitel-Internet-Seiten enthalten auch Bilder, die dem Urheberrecht derjenigen
            unterliegen, die diese zur Verfügung gestellt haben.</p>
        <br>
        <h1>Datenschutzerklärung</h1>
        <p>Der Schutz und die Sicherheit von persönlichen Daten hat bei uns eine hohe Priorität. Daher halten wir uns
            strikt an die Regeln des deutschen Bundesdatenschutzgesetzes (BDSG). Nachfolgend werden Sie darüber
            informiert, welche Art von Daten erfasst und zu welchem Zweck sie erhoben werden:</p>
        <h2>1. Datenübermittlung /Datenprotokollierung</h2>
        <p>Beim Besuch dieser Seite verzeichnet der Web-Server automatisch Log-Files, die keiner bestimmten Person
            zugeordnet werden können. Diese Daten beinhalten z. B. den Browsertyp und -version, verwendetes
            Betriebssystem, Referrer URL (die zuvor besuchte Seite), IP-Adresse des anfragenden Rechners, Zugriffsdatum
            und -uhrzeit der Serveranfrage und die Dateianfrage des Client (Dateiname und URL). Diese Daten werden nur
            zum Zweck der statistischen Auswertung gesammelt. Eine Weitergabe an Dritte, zu kommerziellen oder
            nichtkommerziellen Zwecken, findet nicht statt.</p>
        <h2>2. Nutzung persönlicher Daten</h2>
        <p>Persönliche Daten werden nur erhoben oder verarbeitet, wenn Sie diese Angaben freiwillig, z.B. im Rahmen
            einer Anfrage mitteilen. Sofern keine erforderlichen Gründe im Zusammenhang mit einer Geschäftsabwicklung
            bestehen, können Sie jederzeit die zuvor erteilte Genehmigung Ihrer persönlichen Datenspeicherung mit
            sofortiger Wirkung schriftlich (z.B. per E-Mail oder per Fax) widerrufen. Ihre Daten werden nicht an Dritte
            weitergeben, es sei denn, eine Weitergabe ist aufgrund gesetzlicher Vorschriften erforderlich.</p>
        <h2>3. Auskunft, Änderung und Löschung Ihrer Daten</h2>
        <p>Gemäß geltendem Recht können Sie jederzeit bei uns schriftlich nachfragen, ob und welche personenbezogenen
            Daten bei uns über Sie gespeichert sind. Eine entsprechende Mitteilung hierzu erhalten Sie umgehend.</p>
        <h2>4. Sicherheit Ihrer Daten</h2>
        <p>Ihre uns zur Verfügung gestellten persönlichen Daten werden durch Ergreifung aller technischen sowie
            organisatorischen Sicherheitsmaßnahmen so gesichert, dass sie für den Zugriff unberechtigter Dritter
            unzugänglich sind. Bei Versendung von sehr sensiblen Daten oder Informationen ist es empfehlenswert, den
            Postweg zu nutzen, da eine vollständige Datensicherheit per E-Mail nicht gewährleistet werden kann.</p>
        <h2>5. Cookies</h2>
        <p>Auf einigen unserer Seiten verwenden wir sog. "Session-Cookies", um Ihnen die Nutzung unserer Webseiten zu
            erleichtern. Dabei handelt es sich um kleine Textdateien, die nur für die Dauer Ihres Besuchs unserer
            Webseite auf Ihrer Festplatte hinterlegt und abhängig von der Einstellung Ihres Browser-Programms beim
            Beenden des Browsers wieder gelöscht werden. Diese Cookies rufen keine auf Ihrer Festplatte über Sie
            gespeicherten Informationen ab und beeinträchtigen nicht Ihren PC oder ihre Dateien. Die meisten Browser
            sind so eingestellt, dass sie Cookies automatisch akzeptieren. Sie können das Speichern von Cookies jedoch
            deaktivieren oder ihren Browser so einstellen, dass er Sie auf die Sendung von Cookies hinweist.</p>
        <h2>6. Änderungen dieser Datenschutzbestimmungen</h2>
        <p>Wir werden diese Richtlinien zum Schutz Ihrer persönlichen Daten von Zeit zu Zeit aktualisieren. Sie sollten
            sich diese Richtlinien gelegentlich ansehen, um auf dem Laufenden darüber zu bleiben, wie wir Ihre Daten
            schützen und die Inhalte unserer Website stetig verbessern. Sollten wir wesentliche Änderungen bei der
            Sammlung, der Nutzung und/oder der Weitergabe der uns von Ihnen zur Verfügung gestellten personenbezogenen
            Daten vornehmen, werden wir Sie durch einen eindeutigen und gut sichtbaren Hinweis auf der Website darauf
            aufmerksam machen. Mit der Nutzung der Webseite erklären Sie sich mit den Bedingungen dieser Richtlinien zum
            Schutz persönlicher Daten einverstanden.</p>

        <p>Bei Fragen zu diesen Datenschutzbestimmungen wenden Sie sich bitte über unsere <a
                href="/contact">Kontakt-Seite</a> an uns.</p>
    </div>
    <div id="content">
        <h2>Quellen:</h2>
        <li><a href=/static/pdf/Quellen.pdf target="_blank">Quellen</a> </li>
    </div>
</body>

</html>