<!-- Import css,java datein -->
<!-- Import css,java datein -->
{%extends 'layout.htm' %}

{%block title %} {%endblock%}

{% block content %}
<form action="{{ url_for('signout') }}" method="post">
    <input type="submit" class="btn btn-danger" value="Logout">
</form>
<div class="w3-display-middle">
    <h1 class="w3-jumbo w3-animate-top">Willkommen <p>{{ aaname }} </p></h1>
    <hr class="w3-border-grey" style="margin:auto;width:40%">
    <p class="w3-large w3-center">Danke das Sie uns Ihr Vertrauen schenken</p>
    <form action="/shop">
        <p class="w3-large w3-center"><input type="submit" value="Zum Shop" class="btn btn-success">
    </form>
    <form action="/impressum">
        <p class="w3-large w3-center"><input type="submit" value="Zum Impressum" class="btn btn-success">
    </form>
    </p>
</div>

<!-- Services -->
<section id="services">
    <div class="container">
        <div class="row">
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

            <script type="text/javascript">
                $(window).on('load',function(){
                    $('#buy').modal('show');
                });
            </script>
<!-- Modal HTML -->
<div id="buy" class="modal fade">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <div class="modal-header">
                <div class="icon-box">
                    <i class="material-icons">&#xE876;</i>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body text-center">
                <h4>Erfolgreicht angemeldet</h4>
                <p>Sie haben sich erfolgreich angemeldet</p>
            </div>
        </div>
    </div>
</div>
            {%endblock%}