                        <!-- Import css,java datein --> 
{%extends 'layout.htm' %}

{%block title %} {%endblock%}

{% block content %}
<div class="w3-display-middle">
    <h1 class="w3-jumbo w3-animate-top">Willkommen bei Tads</h1>
    <hr class="w3-border-grey" style="margin:auto;width:40%">
    <p class="w3-large w3-center">Danke das sie bei uns sind</p>
    <form action="/shop">
    <p class="w3-large w3-center"><input type="submit" value="Zum Shop" class="btn btn-success">
    </form>
    <form action="/impressum">
    <p class="w3-large w3-center"><input type="submit" value="Zum Impressum" class="btn btn-success">
    </form>
    </p>
  </div>

  <!-- Services -->
  <section id="services">
    <div class="container">
      <div class="row">
          <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        
{%endblock%}
