<!-- Import css,java datein -->
<link rel="stylesheet" type="text/css" href="/static/css/shop/styles/bootstrap-4.1.2/bootstrap.min.css">
<link href="" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="/static/css/shop/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
<link rel="stylesheet" type="text/css" href="/static/css/shop/plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
<link rel="stylesheet" type="text/css" href="/static/css/shop/plugins/OwlCarousel2-2.2.1/animate.css">
<link rel="stylesheet" type="text/css" href="/static/css/shop/styles/main_styles.css">
<link rel="stylesheet" type="text/css" href="/static/css/shop/styles/responsive.css">
<link rel="stylesheet" type="text/css" href="/static/css/buy.css">

<script src="../static/js/shop.js"></script>

{%extends 'layout.htm' %}

{%block title %} {%endblock%}

{% block content %}
<div class="products">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="section_title text-center">Tads GmbH</div>
            </div>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                Warenkorb
            </button>
        </div>
        <div class="row products_row">

            <!-- Product fügt das dritte Produkt hinzu -->
            <div class="col-xl-4 col-md-6">
                <div class="product">
                    <div class="product_image"><img src="/static/img/shop/Drone/maverick_drone1.jpg" href="#Drone1"
                            data-toggle="modal" alt=""></div>
                    <div class="product_content">
                        <div class="product_info d-flex flex-row align-items-start justify-content-start">
                            <div>
                                <div>
                                    <div class="product_name"><a href="/shop">AU-G one</a></div>
                                </div>
                            </div>
                            <div class="ml-auto text-right">
                                <div class="rating_r rating_r_4 home_item_rating"><i></i><i></i><i></i><i></i><i></i>
                                </div>
                                <div class="product_price text-right">1500<span>.00€</span></div>
                            </div>
                        </div>
                        <div class="product_buttons">
                            <div class="text-right d-flex flex-row align-items-start justify-content-start">
                                <div
                                    class="product_button product_fav text-center d-flex flex-column align-items-center justify-content-center">
                                    <div>
                                        <div><img src="/static/img/shop/heart_2.svg" class="svg" alt="">
                                            <div>+</div>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="product_button product_cart text-center d-flex flex-column align-items-center justify-content-center">
                                    <div>
                                        <div><img src="/static/img/shop/cart.svg" href="#Drone1" data-toggle="modal"
                                                class="svg" alt="">
                                            <div>+</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Product fügt das erste Produkt hinzu -->
            <div class="col-xl-4 col-md-6">
                <div class="product">
                    <div class="product_image"><img src="/static/img/shop/Drone/landdrone.png" href="#Drone2"
                            data-toggle="modal" alt=""></div>
                    <div class="product_content">
                        <div class="product_info d-flex flex-row align-items-start justify-content-start">
                            <div>
                                <div>
                                    <div class="product_name"><a href="/shop">GU-G one</a></div>
                                </div>
                            </div>
                            <div class="ml-auto text-right">
                                <div class="rating_r rating_r_4 home_item_rating"><i></i><i></i><i></i><i></i><i></i>
                                </div>
                                <div class="product_price text-right">1200<span>.00€</span></div>
                            </div>
                        </div>
                        <div class="product_buttons">
                            <div class="text-right d-flex flex-row align-items-start justify-content-start">
                                <div
                                    class="product_button product_fav text-center d-flex flex-column align-items-center justify-content-center">
                                    <div>
                                        <div><img src="/static/img/shop/heart_2.svg" class="svg" alt="">
                                            <div>+</div>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="product_button product_cart text-center d-flex flex-column align-items-center justify-content-center">
                                    <div>
                                        <div><img src="/static/img/shop/cart.svg" class="svg" alt="">
                                            <div>+</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Product fügt das zweite Produkt hinzu (Ladekabel Extrem Charge) -->
            <div class="col-xl-4 col-md-6">
                <div class="product">
                    <div class="product_image"><img src="/static/img/shop/Drone/ladekabel3.jpg" href="#ladekabel"
                            data-toggle="modal" alt=""></div>
                    <div class="product_content">
                        <div class="product_info d-flex flex-row align-items-start justify-content-start">
                            <div>
                                <div>
                                    <div class="product_name"><a href="/shop">Extrem Charge Ladekabel</a></div>
                                </div>
                            </div>
                            <div class="ml-auto text-right">
                                <div class="rating_r rating_r_4 home_item_rating"><i></i><i></i><i></i><i></i><i></i>
                                </div>
                                <div class="product_price text-right">450<span>.00€</span></div>
                            </div>
                        </div>
                        <div class="product_buttons">
                            <div class="text-right d-flex flex-row align-items-start justify-content-start">
                                <div
                                    class="product_button product_fav text-center d-flex flex-column align-items-center justify-content-center">
                                    <div>
                                        <div><img src="/static/img/shop/heart_2.svg" class="svg" alt="">
                                            <div>+</div>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="product_button product_cart text-center d-flex flex-column align-items-center justify-content-center">
                                    <div>
                                        <div><img src="/static/img/shop/cart.svg" class="svg" alt="">
                                            <div>+</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Product fügt das zweite Produkt hinzu (Software Update 3 stück) -->
            <div class="col-xl-4 col-md-6">
                <div class="product">
                    <div class="product_image"><img src="/static/img/shop/Drone/software.jpg" href="#software"
                            data-toggle="modal" alt=""></div>
                    <div class="product_content">
                        <div class="product_info d-flex flex-row align-items-start justify-content-start">
                            <div>
                                <div>
                                    <div class="product_name"><a href="/shop">Software Update 3mal</a></div>
                                </div>
                            </div>
                            <div class="ml-auto text-right">
                                <div class="rating_r rating_r_4 home_item_rating"><i></i><i></i><i></i><i></i><i></i>
                                </div>
                                <div class="product_price text-right">750<span>.99€</span></div>
                            </div>
                        </div>
                        <div class="product_buttons">
                            <div class="text-right d-flex flex-row align-items-start justify-content-start">
                                <div
                                    class="product_button product_fav text-center d-flex flex-column align-items-center justify-content-center">
                                    <div>
                                        <div><img src="/static/img/shop/heart_2.svg" class="svg" alt="">
                                            <div>+</div>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="product_button product_cart text-center d-flex flex-column align-items-center justify-content-center">
                                    <div>
                                        <div><img src="/static/img/shop/cart.svg" class="svg" alt="">
                                            <div>+</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Product fügt das vierte Produkt hinzu (Software) -->
            <div class="col-xl-4 col-md-6">
                <div class="product">
                    <div class="product_image"><img src="/static/img/shop/Drone/terminal.jpg" href="#terminal"
                            data-toggle="modal" alt=""></div>
                    <div class="product_content">
                        <div class="product_info d-flex flex-row align-items-start justify-content-start">
                            <div>
                                <div>
                                    <div class="product_name"><a href="/shop">Terminal</a></div>
                                </div>
                            </div>
                            <div class="ml-auto text-right">
                                <div class="rating_r rating_r_4 home_item_rating"><i></i><i></i><i></i><i></i><i></i>
                                </div>
                                <div class="product_price text-right">899<span>.00€</span></div>
                            </div>
                        </div>
                        <div class="product_buttons">
                            <div class="text-right d-flex flex-row align-items-start justify-content-start">
                                <div
                                    class="product_button product_fav text-center d-flex flex-column align-items-center justify-content-center">
                                    <div>
                                        <div><img src="/static/img/shop/heart_2.svg" class="svg" alt="">
                                            <div>+</div>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="product_button product_cart text-center d-flex flex-column align-items-center justify-content-center">
                                    <div>
                                        <div><img src="/static/img/shop/cart.svg" class="svg" alt="">
                                            <div>+</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Product fügt das dritte Produkt hinzu -->
            <div class="col-xl-4 col-md-6">
                <div class="product">
                    <div class="product_image"><img src="/static/img/shop/Drone/akku2.jpg" href="#akku"
                            data-toggle="modal" alt=""></div>
                    <div class="product_content">
                        <div class="product_info d-flex flex-row align-items-start justify-content-start">
                            <div>
                                <div>
                                    <div class="product_name"><a href="/shop">Akku</a></div>
                                </div>
                            </div>
                            <div class="ml-auto text-right">
                                <div class="rating_r rating_r_4 home_item_rating"><i></i><i></i><i></i><i></i><i></i>
                                </div>
                                <div class="product_price text-right">750<span>.95€</span></div>
                            </div>
                        </div>
                        <div class="product_buttons">
                            <div class="text-right d-flex flex-row align-items-start justify-content-start">
                                <div
                                    class="product_button product_fav text-center d-flex flex-column align-items-center justify-content-center">
                                    <div>
                                        <div><img src="/static/img/shop/heart_2.svg" class="svg" alt="">
                                            <div>+</div>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="product_button product_cart text-center d-flex flex-column align-items-center justify-content-center">
                                    <div>
                                        <div><img src="/static/img/shop/cart.svg" href="#Drone1" data-toggle="modal"
                                                class="svg" alt="">
                                            <div>+</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Product fügt das zweite Produkt hinzu -->
            <div id="Drone1" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content Drone 1-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title"></h4>
                        </div>
                        <div class="modal-body">
                            <div class="product">
                                <div class="product_image"><img src="/static/img/shop/Drone/maverick_drone1.jpg"
                                        href="#Drone1" data-toggle="modal" alt=""></div>
                                <div class="product_content">
                                    <div class="product_info d-flex flex-row align-items-start justify-content-start">
                                        <div>
                                            <div>
                                                <div class="product_name"><a href="/shop">AU-G one</a></div>
                                            </div>
                                        </div>
                                        <div class="ml-auto text-right">
                                            <div class="rating_r rating_r_4 home_item_rating">
                                                <i></i><i></i><i></i><i></i><i></i></div>
                                            <div class="product_price text-right">1500<span>.00€</span></div>
                                        </div>
                                    </div>
                                </div>
                                <h4>Standartausführung:</h4>
                                <p>- Allgeimen Aufnahmen und Überwachung</p>
                                <p>- 3G </p>
                                <p>- 21 Megapixel Kamera</p>
                                <p>- 35.000 milliampere Akku</p>
                                <p>- Standart-Ladekabel</p>
                                <p>- Zugang Webinterface </p>
                                <p>- 2tb Festplattenspeicher</p>
                                <p>- 2 Jahre Update</p>
                                <p>- 2 Jahre Sicherheitsschutz durch SSL</p>
                                <p>- Max 5 hektar</p>
                                <h4>Extras:</h4>
                                <p></p>
                                <div class="checkbox">
                                    <label><input type="checkbox" value="">Geomapping</label>
                                </div>
                                <div class="checkbox">
                                    <label><input type="checkbox" value="">Vogelabschrekung</label>
                                </div>
                                <div class="checkbox">
                                    <label><input type="checkbox" value="">Pollen Aktivität (Luft)</label>
                                </div>
                                <div class="checkbox">
                                    <label><input type="checkbox" value="">LTE</label>
                                </div>
                                <div class="checkbox">
                                    <label><input type="checkbox" value="">20 tb Festplattenspeicher</label>
                                </div>
                                <div class="checkbox">
                                    <label><input type="checkbox" value="">75.000 milliampere Akku</label>
                                </div>
                                <button type="submit" class="addtoshop" title="AU-G one " price="1500.00€" href="#buy"
                                data-toggle="modal" onClick="window.location.reload();">Zum Warenkorb</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- Zweites Modal für die GU-G one-->
            <div id="Drone2" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content Drone 1-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title"></h4>
                        </div>
                        <div class="modal-body">
                            <div class="product">
                                <div class="product_image"><img src="/static/img/shop/Drone/landdrone.png"
                                        href="#Drone1" data-toggle="modal" alt=""></div>
                                <div class="product_content">
                                    <div class="product_info d-flex flex-row align-items-start justify-content-start">
                                        <div>
                                            <div>
                                                <div class="product_name"><a href="/shop">GU-G one</a></div>
                                            </div>
                                        </div>
                                        <div class="ml-auto text-right">
                                            <div class="rating_r rating_r_4 home_item_rating">
                                                <i></i><i></i><i></i><i></i><i></i></div>
                                            <div class="product_price text-right">1200<span>.00€</span></div>
                                        </div>
                                    </div>
                                </div>
                                <h4>Standartausführung:</h4>
                                <p>- Allgeimen Aufnahmen und Überwachung</p>
                                <p>- 3G </p>
                                <p>- 21 Megapixel Kamera</p>
                                <p>- 35.000 milliampere Akku</p>
                                <p>- Standart-Ladekabel</p>
                                <p>- Zugang Webinterface </p>
                                <p>- 2tb Festplattenspeicher</p>
                                <p>- 2 Jahre Update</p>
                                <p>- 2 Jahre Sicherheitsschutz durch SSL</p>
                                <p>- Max 5 hektar</p>
                                <h4>Extras:</h4>
                                <p></p>
                                <div class="checkbox">
                                    <label><input type="checkbox" value="">Geomapping</label>
                                </div>
                                <div class="checkbox">
                                    <label><input type="checkbox" value="">Vogelabschrekung</label>
                                </div>
                                <div class="checkbox">
                                    <label><input type="checkbox" value="">Pollen Aktivität (Luft)</label>
                                </div>
                                <div class="checkbox">
                                    <label><input type="checkbox" value="">LTE</label>
                                </div>
                                <div class="checkbox">
                                    <label><input type="checkbox" value="">20 tb Festplattenspeicher</label>
                                </div>
                                <div class="checkbox">
                                    <label><input type="checkbox" value="">75.000 milliampere Akku</label>
                                </div>
                                <button type="submit" class="addtoshop" title="Gu-G One " price="1200.00€" href="#buy"
                                data-toggle="modal" onClick="window.location.reload();">Zum Warenkorb</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Zweites Modal für die Software-->
        <div id="software" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal Software Update Content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body">
                        <div class="product">
                            <div class="product_image"><img src="/static/img/shop/Drone/software.jpg" href="#software"
                                    data-toggle="modal" alt=""></div>
                            <div class="product_content">
                                <div class="product_info d-flex flex-row align-items-start justify-content-start">
                                    <div>
                                        <div>
                                            <div class="product_name"><a href="/shop">Software</a></div>
                                        </div>
                                    </div>
                                    <div class="ml-auto text-right">
                                        <div class="rating_r rating_r_4 home_item_rating">
                                            <i></i><i></i><i></i><i></i><i></i></div>
                                        <div class="product_price text-right">750<span>.99€</span></div>
                                    </div>
                                </div>
                            </div>
                            <h4>Standartausführung:</h4>
                            <p>- 3mal ein Software und Sicherheitsschutz</p>
                            <p>- Demzu ein Service</p>
                            <p>- SSL Download</p>
                            <p>- Installation durch einen Fachmann</p>
                            <p>- Neuste Version</p>
                            <button type="submit" class="addtoshop" title="Software " price="750.99€" href="#buy"
                            data-toggle="modal" onClick="window.location.reload();">Zum Warenkorb</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Zweites Modal für die Software-->
        <div id="terminal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal Software Update Content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body">
                        <div class="product">
                            <div class="product_image"><img src="/static/img/shop/Drone/terminal.jpg" href="#terminal"
                                    data-toggle="modal" alt=""></div>
                            <div class="product_content">
                                <div class="product_info d-flex flex-row align-items-start justify-content-start">
                                    <div>
                                        <div>
                                            <div class="product_name"><a href="/shop">Terminal</a></div>
                                        </div>
                                    </div>
                                    <div class="ml-auto text-right">
                                        <div class="rating_r rating_r_4 home_item_rating">
                                            <i></i><i></i><i></i><i></i><i></i></div>
                                        <div class="product_price text-right">899<span>.00€</span></div>
                                    </div>
                                </div>
                            </div>
                            <h4>Standartausführung:</h4>
                            <p>- Software von Tads GmbH</p>
                            <p>- Eine LTE verbindung (Monatlich 12€)</p>
                            <p>- Mit Ladekabel</p>
                            <p>- 6.000 milliampere Akku</p>
                            <p>- Standart-Ladekabel</p>
                            <p>- 256 GB Speicher</p>
                            <p>- 3 Jahre Garantie</p>
                            <p>- Max 5 Dronen steurern</p>
                            <button type="submit" class="addtoshop" title="Terminal " price="899.00€" href="#buy"
                                data-toggle="modal" onClick="window.location.reload();" >Zum Warenkorb</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Zweites Modal für den Akku-->
        <div id="akku" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content Akku-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body">
                        <div class="product">
                            <div class="product_image"><img src="/static/img/shop/Drone/akku2.jpg" href="#Drone1"
                                    data-toggle="modal" alt=""></div>
                            <div class="product_content">
                                <div class="product_info d-flex flex-row align-items-start justify-content-start">
                                    <div>
                                        <div>
                                            <div class="product_name"><a href="/shop">Akku</a></div>
                                        </div>
                                    </div>
                                    <div class="ml-auto text-right">
                                        <div class="rating_r rating_r_4 home_item_rating">
                                            <i></i><i></i><i></i><i></i><i></i></div>
                                        <div class="product_price text-right">750<span>.95€</span></div>
                                    </div>
                                </div>
                            </div>
                            <h4>Standartausführung:</h4>
                            <p>- 70.000 milliampere Akku</p>
                            <p>- Extrem Versand </p>
                            <p>- Einfacher einbau</p>
                            <p>- Standart-Ladekabel</p>
                            <p>- 3 Jahre Garantie</p>
                            <p>- Info Anzeige Online/Offline verfügbar</p>
                            <p>- Max 10h Flugzeit</p>
                            <p></p>
                            <button type="submit" class="addtoshop" title="Akku " price="750.00€" href="#buy"
                            data-toggle="modal" onClick="window.location.reload();" >Zum Warenkorb</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
                <!-- Zweites Modal für das Ladekabel-->
                <div id="ladekabel" class="modal fade" role="dialog">
                        <div class="modal-dialog">
            
                            <!-- Modal content Ladekabel-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title"></h4>
                                </div>
                                <div class="modal-body">
                                    <div class="product">
                                        <div class="product_image"><img src="/static/img/shop/Drone/ladekabel2.jpg" href="#ladekabel"
                                                data-toggle="modal" alt=""></div>
                                        <div class="product_content">
                                            <div class="product_info d-flex flex-row align-items-start justify-content-start">
                                                <div>
                                                    <div>
                                                        <div class="product_name"><a href="/shop">Extrem Charge Ladekabel</a></div>
                                                    </div>
                                                </div>
                                                <div class="ml-auto text-right">
                                                    <div class="rating_r rating_r_4 home_item_rating">
                                                        <i></i><i></i><i></i><i></i><i></i></div>
                                                    <div class="product_price text-right">450<span>.00€</span></div>
                                                </div>
                                            </div>
                                        </div>
                                        <h4>Standartausführung:</h4>
                                        <p>- 10,5m Kabel</p>
                                        <p>- 6 pin Anschluss </p>
                                        <p>- Jeder Adapater (EU/USA etc...)</p>
                                        <p>- 3 Jahre Garantie</p>
                                        <p>- 13mal schneller</p>
                                        <p>- Max 45min Ladezeit</p>
                                        <p></p>
                                        <button type="submit" class="addtoshop" title="Extrem Charge Ladekabel " price="450.00€" href="#buy"
                                        data-toggle="modal" onClick="window.location.reload();" >Zum Warenkorb</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    </div>
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Warenkorb</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="modal-content">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal HTML -->
    <div id="buy" class="modal fade">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="icon-box">
                        <i class="material-icons">&#xE876;</i>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body text-center">
                    <h4>Super!</h4>
                    <p>Ihr Produkt wurde zum warenkorb hinzugefügt</p>
                </div>
            </div>
        </div>
    </div>

</div>



{%endblock%}